/* Font Imported CSS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Universal Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Header Styles */
.header{
    background: rgba(229, 84, 115, 0.10);
}

/* Banner Styles */
.banner{
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 120px;
    padding-right: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-details{
    max-width: 500px;
}
.banner-image{
    display: flex;
    justify-content: end;
}
.banner-image img{
    width: 450px;
}
.banner-heading{
    color: #272727;
    font-size: 58px;
    font-weight: 800;
    margin-bottom: 25px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* Button Styles */
.primary-button{
    border-radius: 8px;
    padding: 15px 35px;
    display: inline-flex;
    align-items: flex-start;
    background: #E55473;
    color: #fff;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* Featured Flowers Section Styles */
.featured-flowers{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 80px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
    
}
.flower{
    padding: 30px 15px 0px 15px;
    margin: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.flower img{
    width: 250px;
}
.flower-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.pink-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.red-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.yellow-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-tree{
    margin-top: 30px;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* Feature Styles */
.features{
    display: flex;
    margin-top: 50px;
    padding: 80px 65px;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.features-item{
    text-align: center;
}
/* Text Color Styles */
.text-red{
    color: #E55473;
}
.text-white{
    color: #fff;
}
/* Hot Deal Section Styles */
.hot-deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 34px;
    margin-top: 80px;
}
.hot-deal-content{
    text-align: center;
    max-width: 550px;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 32px;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* Instagram Feed Section Styles */
.instagram-feed{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 80px;
}
.instagram-image{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.instagram-image img{
    width: 245px;
    margin: 5px;
}

/* Customer Review Section Styles */
.customer-review{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 80px;
}
.review-content{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}
.review-item{
    margin: 25px 15px;
    padding: 15px 20px;
    width: 450px;
    height: 140px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.review-item:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.bg-pink{
    background: #f2dee8;
}
.bg-cyan{
    background: #daf0f1;
}
.bg-teal{
    background: #e4ecdc;
}
.bg-rose{
    background: #e5d8d0;
}
.review-comment{
    font-size: 24px;
    font-style: italic;
}

/* Newsletter Section Styles */
.news-letter{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 80px;
}
.get-deals{
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 90px 30px;
    border-radius: 8px;
}
.get-deals-form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.get-deals-form input{
    width: 300px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 10px;
    margin-right: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

/* Footer Section Styles */
.footer{
    background: #111010;
    height: 450px;
    align-items: center;
}
.footer-logo{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 130px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}